# Copiá este archivo a apps/api/.env
TMDB_API_KEY=tu_clave_de_tmdb
PORT=4000
TMDB_BASE_URL=https://api.themoviedb.org/3
TMDB_IMAGE_BASE_URL=https://image.tmdb.org/t/p
CORS_ORIGIN=http://localhost:5173
